@using EntityLayer.DTO
@model List<RoomDTO>

@{
    Layout = "_AdminLayout";
    var firstRoom = Model.FirstOrDefault();
}


<div class="main-content">



    <div class="section-body">
        <div class="justify-content-center" style="padding-left: 45px;">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <div class="tab-pane fade show active" id="oda" role="tabpanel" aria-labelledby="home-tab">
                            <div class="form-group row align-items-center">

                                <div class="card-header ">
                                    <div class="form-group">
                                        <label class="form-label">Oda Seç:</label>

                                        <select style="border-radius: 0;" name="site_title" class="form-control" id="roomNumber" onchange="GetRoomDetail('General')">
                                            @foreach (var room in Model)
                                            {
                                                <option value="@room.Id">@room.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <button onclick="openRoomModal()" style="margin-left:750px; border-radius:0px;" class="btn btn-primary" id="save-btn">Oda Ekle</button>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#odaözellik" role="tab" aria-controls="odaözellik" aria-selected="true">Oda Özellikleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="roomFeatures-tab" data-toggle="tab" href="#odaresim" role="tab" aria-controls="odaresim" aria-selected="false">Oda Resimleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="extraRoomSettings-tab" data-toggle="tab" href="#odapop" role="tab" aria-controls="odapop" aria-selected="false">Ekstra Ayarlar</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <!-- Oda Özellikleri Tabı -->
                            <div class="tab-pane fade show active" id="odaözellik" role="tabpanel" aria-labelledby="home-tab">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 d-flex justify-content-between align-items-center">
                                                    <h6 class="mt-3">Oda Özellikleri:</h6>
                                                    <div class="d-flex gap-2">
                                                        <button class="btn btn-primary btn-sm" onclick="openEditModal()">Düzenle</button>
                                                        <button class="btn btn-primary btn-sm" onclick="openAddFeatureModal()">Ekle</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <ul class="list-group" id="featureWrapper">
                                                        @foreach (var feature in firstRoom?.RoomFeatures)
                                                        {
                                                            <li class="list-group-item">@feature.Features</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Oda Resimleri Tabı -->
                            <div class="tab-pane fade" id="odaresim" role="tabpanel" aria-labelledby="roomFeatures-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h4>Oda Resimleri:</h4>
                                                    <div class="buttons">
                                                        <button class="btn btn-primary" onclick="openPictureModal()">Resim Ekle</button>
                                                        <button class="btn btn-primary" onclick="openEditPicModal()">Düzenle</button>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row mt-3" id="imageContainer">
                                                        @foreach (var image in firstRoom?.RoomImages)
                                                        {
                                                            <div class="image-wrapper col-4 mb-3">
                                                                <img src="data:image/jpeg;base64,@image.FileData" class="img-fluid" id="roomImage">
                                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(@image.ImageId)">Sil</button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Ekstra Ayarlar Tabı -->
                            <div class="tab-pane fade" id="odapop" role="tabpanel" aria-labelledby="extraRoomSettings-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Bu oda anasayfada bulunsun mu?</label>
                                                <select name="isMainPage" id="isMainPage" class="form-control">
                                                    <option value="1" selected="@(firstRoom?.isMainPage == true)">Evet</option>
                                                    <option value="0" selected="@(firstRoom?.isMainPage == false)">Hayır</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Oda Fiyatı:</label>
                                            <input class="form-control" type="text" id="roomPrice" value="@firstRoom?.Price">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Kapasite:</label>
                                            <input class="form-control" type="text" id="capacity" value="@firstRoom?.Capacity">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">Oda Açıklaması</label>
                                                <textarea class="form-control" id="description" rows="5">@firstRoom?.Description</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-12 text-end">
                                            <button class="btn btn-primary" type="button" onclick="updateExtraSettings()">Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>

<script>
    document.getElementById("site-logo").addEventListener("change", function () {
        var fileLabel = document.getElementById("file-label");
        var files = this.files;
        if (files.length > 0) {
            var fileNames = Array.from(files).map(file => file.name).join(", ");
            fileLabel.innerText = fileNames;
        } else {
            fileLabel.innerText = "Choose Files";
        }
    });
    $(document).ready(function () {



        $(".delete-btn").click(function () {
            var imageBox = $(this).closest('.image-box');
            imageBox.fadeOut(300, function () {
                imageBox.remove();
            });
        });
    });


</script>