@using EntityLayer.DTO
@model List<RoomDTO>

@{
    Layout = "_AdminLayout";
    var firstRoom = Model.FirstOrDefault();
}


<div class="main-content" style="padding-left:30px !important;">
    <div class="section-body">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center p-3 mt-3">
                        <div class="d-flex flex-grow-1 align-items-center gap-3">
                            <div>
                                <label class="form-label">Oda Seç:</label>
                                <select style="border-radius: 0;" name="site_title" class="form-control" id="roomNumber" onchange="GetRoomDetail('General')">
                                    @foreach (var room in Model)
                                    {
                                        <option value="@room.Id">@room.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="text-end">
                            <button style="border-radius:0; margin-right:20px;" class="btn btn-danger mt-2" onclick="deleteRoom()">Seçili Oda Sil</button>
                            <button onclick="openRoomModal()" style="border-radius:0; margin-right:20px;" class="btn btn-primary mt-2">Oda Ekle</button>
                        </div>



                    </div>


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#odaözellik" role="tab">Oda Özellikleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="roomFeatures-tab" data-toggle="tab" href="#odaresim" role="tab">Oda Resimleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="extraRoomSettings-tab" data-toggle="tab" href="#odapop" role="tab">Ekstra Ayarlar</a>
                        </li>
                    </ul>

                    <div class="tab-content p-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="odaözellik" role="tabpanel">
                            <div>
                                <h6>Oda Özellikleri:</h6>
                                <div class="d-flex justify-content-end" style="max-width: 250px; margin-left: auto; margin-right: 20px; gap: 10px; margin-bottom:20px;">
                                    <button class="btn btn-primary btn-sm" onclick="openEditModal()">Düzenle</button>
                                    <button class="btn btn-primary btn-sm" onclick="openAddFeatureModal()">Ekle</button>
                                </div>

                                <ul class="list-group" id="featureWrapper">
                                    @foreach (var feature in firstRoom?.RoomFeatures)
                                    {
                                        <li class="list-group-item">@feature.Features</li>
                                    }
                                </ul>
                            </div>
                        </div>





                        <div class="tab-pane fade" id="odaresim" role="tabpanel">
                            <div>
                                <div class="d-flex justify-content-end mb-3">
                                    <button style="margin-right:20px;" class="btn btn-primary" onclick="openPictureModal()">Resim Ekle</button>
                                </div>
                                <div class="row" id="imageContainer" style="background-color: #ffffff; padding: 20px;">
                                    <div class="col-md-12 d-flex flex-wrap gap-3" id="imageSubContainer">
                                        @foreach (var image in firstRoom?.RoomImages)
                                        {
                                            <div class="image-wrapper" style="flex: 1 1 30%; max-width: 30%; margin-bottom: 20px;">
                                                <div class="image-controls" style="background-color: #f1f1f1; padding: 10px; display: flex; justify-content: space-between;">
                                                    <button class="btn btn-primary" onclick="setCoverImage(@image.ImageId, @firstRoom.Id)">Kapak Fotoğrafı Yap</button>
                                                    <button class="btn btn-danger" onclick="deleteImage(@image.ImageId)">Sil</button>
                                                </div>
                                                <div class="image-content" style="background-color: #e9ecef; padding: 10px; border-radius: 5px;">
                                                    <img src="data:image/jpeg;base64,@image.FileData" class="img-fluid">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade" id="odapop" role="tabpanel">
                            <div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Bu oda anasayfada bulunsun mu?</label>
                                        <select name="isMainPage" id="isMainPage" class="form-control">
                                            <option value="1" selected="@(firstRoom?.isMainPage == true)">Evet</option>
                                            <option value="0" selected="@(firstRoom?.isMainPage == false)">Hayır</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Oda Fiyatı:</label>
                                        <input class="form-control" type="text" id="roomPrice" value="@firstRoom?.Price">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Kapasite:</label>
                                        <input class="form-control" type="text" id="capacity" value="@firstRoom?.Capacity">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Oda Açıklaması</label>
                                    <textarea class="form-control" id="description" rows="5">@firstRoom?.Description</textarea>
                                </div>
                                <div class="text-end">
                                    <button class="btn btn-primary" type="button" onclick="updateExtraSettings()">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById("site-logo").addEventListener("change", function () {
        var fileLabel = document.getElementById("file-label");
        var files = this.files;
        if (files.length > 0) {
            var fileNames = Array.from(files).map(file => file.name).join(", ");
            fileLabel.innerText = fileNames;
        } else {
            fileLabel.innerText = "Choose Files";
        }
    });
    $(document).ready(function () {



        $(".delete-btn").click(function () {
            var imageBox = $(this).closest('.image-box');
            imageBox.fadeOut(300, function () {
                imageBox.remove();
            });
        });
    });


</script>