<section class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>ROOMS</h2>
            </div>
        </div>
    </div>
</section>
<!-- END / SUB BANNER -->
<!-- ROOM -->
<section class="section-room bg-white">
    <div class="container">

        <div class="room-wrap-6">

            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->

        </div>

    </div>
    <br />

    <div class="container">

        <div class="room-wrap-6">

            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->

        </div>

    </div>
    <br />

    <div class="container">

        <div class="room-wrap-6">

            <!-- ITEM -->
            
            <!-- END / ITEM -->
            <!-- ITEM -->
            <div class="room_item-6" data-background="@Url.Content("~/images/306-main.jpg")">

                <div class="text">
                    <h2><a href="#">SUİTE ODALAR</a></h2>
                    <span class="price">Start form <span class="amout">$120</span> per day</span>
                    <p>Otelimiz, konforlu odalar, şık tasarım, eşsiz manzara, restoran, spa ve kusursuz hizmet anlayışıyla misafirlerini ağırlıyor.</p>
                    <ul>
                        <li>Maksimum:2 Kişi</li>
                       
                    </ul>
                    <a href="/Home/Detail306" class="awe-btn awe-btn-13">Detayları Görüntüle</a>
                </div>

            </div>
            <!-- END / ITEM -->
            <!-- ITEM -->
            <div class="room_item-6" data-background="@Url.Content("~/images/307-main.jpg")">

                <div class="text">
                    <h2><a href="#">DUBLEX ODALAR</a></h2>
                    <span class="price">Start form <span class="amout">$120</span> per day</span>
                    <p>Otelimiz, konforlu odalar, şık tasarım, eşsiz manzara, restoran, spa ve kusursuz hizmet anlayışıyla misafirlerini ağırlıyor.</p>
                    <ul>
                        <li>Maksimum:2 Kişi</li>
                      
                    </ul>
                    <a href="/Home/Detail307" class="awe-btn awe-btn-13">Detayları Görüntüle</a>
                </div>

            </div>
            <!-- END / ITEM -->
            <!-- ITEM -->
            <div class="room_item-6" data-background="@Url.Content("~/images/308-main.jpg")">

                <div class="text">
                    <h2><a href="#">STANDART ODALAR</a></h2>
                    <span class="price">Start form <span class="amout">$120</span> per day</span>
                    <p>Otelimiz, konforlu odalar, şık tasarım, eşsiz manzara, restoran, spa ve kusursuz hizmet anlayışıyla misafirlerini ağırlıyor.</p>
                    <ul>
                        <li>Maksimum:2 Kişi</li>
                     
                    </ul>
                    <a href="/Home/Detail308" class="awe-btn awe-btn-13">Detayları Görüntüle</a>
                </div>

            </div>
            <!-- END / ITEM -->

        </div>

    </div>
    <br />

    <div class="container">

        <div class="room-wrap-6">

            <!-- ITEM -->
            <div class="room_item-6" data-background="@Url.Content("~/images/310-main.jpg")">

                <div class="text">
                    <h2><a href="#">DELUXE ODALAR</a></h2>
                    <span class="price">Start form <span class="amout">$120</span> per day</span>
                    <p>Otelimiz, konforlu odalar, şık tasarım, eşsiz manzara, restoran, spa ve kusursuz hizmet anlayışıyla misafirlerini ağırlıyor.</p>
                    <ul>
                        <li>Maksimum:2 Kişi</li>
                     
                    </ul>
                    <a href="/Home/Detail310" class="awe-btn awe-btn-13">Detayları Görüntüle</a>
                </div>

            </div>
            <!-- END / ITEM -->
            <!-- ITEM -->
            <div class="room_item-6" data-background="@Url.Content("~/images/317-main.jpg")">
                /i
                <div class="text">
                    <h2><a href="#">SUİTE ODALAR</a></h2>
                    <span class="price">Start form <span class="amout">$120</span> per day</span>
                    <p>Otelimiz, konforlu odalar, şık tasarım, eşsiz manzara, restoran, spa ve kusursuz hizmet anlayışıyla misafirlerini ağırlıyor.</p>
                    <ul>
                        <li>Maksimum:2 Kişi</li>
                       
                    </ul>
                    <a href="/Home/Detail317" class="awe-btn awe-btn-13">Detayları Görüntüle</a>
                </div>

            </div>
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->
            <!-- ITEM -->
            <!-- END / ITEM -->

        </div>

    </div>
    <br />


</section>